@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Pacifico&family=Permanent+Marker&display=swap');

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.header {
  font-family: 'Inconsolata', monospace;
}

div.ui.red.inverted.menu.navbar{
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #93291E, #ED213A); 
  border-radius: 0;
  margin: 0;
}

div.ui.red.inverted.menu.navbar a {
  font-family: 'Permanent Marker', cursive;
  padding: .75rem;
}

div.ui.red.inverted.menu.navbar a.header.item{
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 2rem;
  padding-right: 2rem;
}


body {
  background: #101012;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 50%, rgba(0,0,0,1) 100%);
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  height: 100%;
}

.chat-container {
  height: 80vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.match-container {
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.228);
  height: 100%;
  width: 33%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.chat-box {
  margin: 0;
  padding: 0;
  width: 66%;
  display: flex;
  flex-flow: column nowrap;
}

.chat-display {
  border-bottom-width: 0;
  padding: 1.5rem;
  height: 90%;
  width: 100%;
  background-color: #ccdeff22;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  bottom: 0px;
}

.chat-bar {
  display: flex;
  flex-flow: row nowrap;
  height: 10%;
  width: 100%;
}

.chat-input {
  border: 0;
  border-right-width: 1px;
  padding-left: 2rem;
  width: 80%;
  outline: none;
}

.send {
  margin: 0;
  width: 20%;
  border: 0;
  background: rgba(103, 157, 238, 0.461);
  color: #dc3f4f;
  font-weight: 700;
  outline: none;
}

.send:hover {
  transition: 300ms all ease-in;
  margin: 0;
  width: 20%;
  border-bottom-right-radius: 10px;
  border: 2px solid #DB2829;
  background: #112578cb;
  color: #DB2829;
  font-weight: 700;
}

.chat-bubble {
  min-height: 1.5rem;
  margin-bottom: 2px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #31bff285, #4bc1c979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #31bff285, #4bc1c979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.chat-bubble:last-of-type {
  min-height: 1.5rem;
  margin-bottom: -5px;
  padding: 5px;
  border-radius: 5px;
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #31bff285, #4bc1c979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #31bff285, #4bc1c979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  scroll-snap-align: end;
  scroll-margin-block-end: 3rem;
  overflow-anchor: auto;
}

.match-box {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
  background-color: #ff515143;
  margin: 1px;
}

.match-box:hover {
  transition: 300ms all ease-in;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 5rem;
  background-color: #e136369e;
  margin: 1px;
}



.match-thumb {
  display: block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 30%;
}

.chat-info {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.chat-name {
  margin: 0;
}

.chat-preview {
  font-size: .75rem;
}

div.ui.bottom.attached.segment.auth-modal {
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-container {
  display: flex;
  flex-flow: column nowrap;
}
.profile-banner {
  width: 100vw;
  max-height: 30vh;
  background-size: cover;
  background-color: #93291E;
  -webkit-box-shadow: inset 0px -12px 20px -10px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -12px 20px -10px rgba(0,0,0,0.75);
box-shadow: inset 0px -12px 20px -10px rgba(0,0,0,0.75);
}
.profile-banner .profile-pic {
  background: #000;
  position: relative;
  top: 11vh;
  left: 20%;
  max-width: 150px;
  box-shadow:  0px 5px 5px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow:  0px 5px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow:  0px 5px 5px 2px rgba(0,0,0,0.75);
  border: 1px solid rgb(198, 198, 198);
  border-radius: 5px;
}

.profile-banner i {
  position: relative;
  top: -1.2rem;
}

.profile-holder {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
}

.profile-content {
  justify-self: flex-end;
  width: 70%;
}

.biosection {
  padding: 2rem 2rem;
  justify-self: flex-start;
  width: 30%;
  height: 63vh;
  border-right: 1px solid rgba(225, 225, 225, 0.5);
  color: white;
  text-align: center;
}

.biosection p {
  text-align: left;
}

div.ui.profile-menu.menu {
  border-radius: 0;
  background-color: #000000;
  color: #c94b4b;
  padding-left: 17%;
}

.biosection h1,h2,h3,h4,h5 {
  color: white;
  margin-left: auto;
  margin-right: 25%;
  margin-bottom: .5rem;
  font-family: 'Permanent Marker', cursive;
  font-weight: 300;
}

.profile-music-container {
  padding: 3rem;
  text-align: center;
}
.controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: azure;
}

.volume-controls {
  min-width: 200px;
}


.controls button {
  margin-right: 30px;
  margin: 1rem;
  padding: 10px;
  padding-left: 12px;
  border-radius: 35px;
  border: 0;
  background: #93291F;
}

.playlist-item {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: azure;
  min-height: 30px;
}

.playlist-item.selected {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #3f3f3f82
}

.track-info {

}

.discovery-container {
  color: white;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.discovery-filters {
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 20px;
}

.discovery-filters h2{
  margin: 1rem 0;
}

.discover-card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: stretch;
  justify-content: center;
}
.discover-bio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.discover-user {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.discover-user {
  width: 150px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.discover-user img {
  max-width: 150px;
}

.discover-user h4 {
  margin: 2px;
}

.discover-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  width: 150px;
}
.discover-interests {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 150px;
}

.tags {
  background: gray;
  padding: 3px 5px;
  margin: 3px;
  border-radius: 10px;
}

.profile-friend-container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 2rem;
}
.friend-list {
  justify-content: flex-start;
  text-align: center;
  align-items: stretch;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}
.friend-requests {
  justify-content: flex-start;
  text-align: center;
  align-items: stretch;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}

.friend-requests h2, .friend-list h2{
  margin: 1rem;
}

.friend-card {
  display: flex;
  flex-flow: row nowrap;
  height: 3rem;
  margin-bottom: 1rem;
}

.friend-card-thumb {
  height: 100%;
  width: auto;
  margin-right: 1rem;
}

.friend-request {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-bottom: 1rem;
}

.friend-request button{
  margin-top: .8rem;
  margin-left: 1rem;
  border: 0;
  border-radius: 10px;
  padding: .5rem;
  align-self: center;
}

.friend-request-thumb {
  height: 100%;
  width: auto;
  margin-right: 1rem;
}

.profile-pic-view {
  max-height: 60vh;
  margin: auto;
}

.ui.small.scrolling.modal.transition.visible.active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bio-bio {
  margin-bottom: 1.5rem;
}

.bio-instruments {
  margin-bottom: 1.5rem;
}

.bio-genres {
  margin-bottom: 1.5rem;
}


/* ############################## */
/* ########## SLIDERS ########### */
/* ############################## */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 70%;
  height: .5rem;
  cursor: pointer;
  box-shadow: inset 0px 2px 0px #000000, 0px 2px 0px #0d0d0d;
  background: #ED344B;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 1rem;
  border-radius: 7px;
  background: #93291F;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ED344B;
}
input[type=range]::-moz-range-track {
  width: 70%;
  height: .5rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ED344B;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 1rem;
  border-radius: 7px;
  background: #93291F;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 70%;
  height: .5rem;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 1rem 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ED344B;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ED344B;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 1rem;
  border-radius: 7px;
  background: #93291F;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ED344B;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ED344B;
}

.welcome .bg-image{
  box-sizing: border-box;
  background-image: url(./background.jpg);
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
}

.bg-text {
  font-size: 2rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.777);
  color: white;
  font-weight: bold;
  border: 10px solid #93291F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 5rem;
  text-align: center;
  border-radius: 10px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
}

.bg-text h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 8rem;
}
div.ui.tiny.modal.transition.visible.active.auth-modal {
  border-radius: 20px;
  background-color: #932a1e;
}

.ui.bottom.attached.segment.auth-modal {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  background-color: #131313;
  padding: 2rem 5rem;
}
.ui.bottom.attached.segment.auth-modal{
  color: white;
}

form.ui.form.auth-form label{
  color: white;
}

h2.ui.header {
  color: white;
}

.profile-photo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
}

.photo-thumb {
  height: auto;
  width: 10rem;
  margin: .5rem;
}

.photo-display {
  height: auto;
  width: 90%;
  margin: 30px;
}

.ui.small.modal.transition.visible.active.photo-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}