@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

div.header {
  font-family: 'Inconsolata', monospace;
}

div.ui.red.inverted.menu.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  z-index: 100;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #93291E, #ED213A); 
  border-radius: 0;
  margin: 0;
}

div.ui.red.inverted.menu.navbar a {
  font-family: 'Permanent Marker', cursive;
  padding: .75rem;
}

div.ui.red.inverted.menu.navbar a.header.item{
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 2rem;
  padding-right: 2rem;
}

h2.ui.header {
  color: white;
}

body {
  background: #101012;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 50%, rgba(0,0,0,1) 100%);
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  height: 100%;
}

/* ///////////////////////////////// */
/* //////// WELCOME SCREEN ///////// */
/* ///////////////////////////////// */

.welcome .bg-image{
  box-sizing: border-box;
  background-image: url(./background.jpg);
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
}

.bg-text {
  font-size: 2rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.777);
  color: white;
  font-weight: bold;
  border: 10px solid #93291F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 5rem;
  text-align: center;
  border-radius: 10px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
}

.bg-text h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 8rem;
}

/* **************************** */
/* ******* AUTH MODAL ******** */
/* ************************** */

div.ui.bottom.attached.segment.auth-modal {
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div.ui.tiny.modal.transition.visible.active.auth-modal {
  border-radius: 20px;
  background-color: #932a1e;
}

.ui.bottom.attached.segment.auth-modal {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  background-color: #131313;
  padding: 2rem 5rem;
}
.ui.bottom.attached.segment.auth-modal{
  color: white;
}

form.ui.form.auth-form label{
  color: white;
}

/* **************************** */
/* **** PROFILE FEATURES ***** */
/* ************************** */

.profile-container {
  padding-top: 3rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.profile-banner {
  width: 100vw;
  max-height: 25%;
  min-height: 20%;
  background-size: cover;
  background-color: #93291E;
  -webkit-box-shadow: inset 0px -12px 20px -10px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -12px 20px -10px rgba(0,0,0,0.75);
box-shadow: inset 0px -12px 20px -10px rgba(0,0,0,0.75);
}

.profile-banner i {
  position: relative;
  top: -2rem;
}

.profile-holder {
  height: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
}

.profile-content {
  border-left: 1px solid rgba(225, 225, 225, 0.5);
  justify-self: flex-end;
  width: 70%;
}

/* ******* BIO SECTION ******* */


.biosection {
  position: relative;
  top: -15vh;
  padding: 0 2rem;
  justify-self: flex-start;
  width: 30%;
  height: 100%;
  color: white;
  text-align: center;
}

.biosection p {
  text-align: left;
}

div.ui.profile-menu.menu {
  border-radius: 0;
  background-color: #000000;
  color: #c94b4b;
  padding-left: 17%;
}

.biosection h1,h2,h3,h4,h5 {
  color: white;
  margin-left: auto;
  font-family: 'Permanent Marker', cursive;
  font-weight: 300;
}

.bio-bio {
  margin-bottom: 1.5rem;
}

.bio-name {
  margin: 0;
}

.bio-instruments {
  margin-bottom: 1.5rem;
}

.bio-instruments p{
  line-height: 1.8;
}

.bio-genres {
  margin-bottom: 1.5rem;
}
.bio-genres p{
  line-height: 1.8;
}

/* ********************************** */
/* **** PROFILE MUSIC FEATURES ***** */
/* ******************************** */

.profile-music-container {
  padding: 3rem;
  padding-top: 0;
  text-align: center;
}

/* The ADD SONG Button */
.profile-music-container button{
  margin-bottom: 1rem;
}

#waveform {
  margin-top: .5rem;
} 

.controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: azure;
}

#volume {
  margin-left: 1rem;
}

.volume-controls {
  min-width: 200px;
  border-radius: 1rem;
  padding: 0 1rem;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.4),
  -2px -2px 2px rgba(143, 143, 143, 0.4);
}



.controls button {
  margin-right: 30px;
  margin: 1rem;
  padding: 10px;
  padding-left: 12px;
  border-radius: 35px;
  border: 0;
  background: #1B1B1B;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.9);
          box-shadow: 3px 3px 2px rgba(0,0,0,0.4),
                      -2px -2px 2px rgba(143, 143, 143, 0.4);
}

.controls i {
  color: #CD2430;
  text-shadow: 2 2 5px rgba(0,0,0,0.9);
}

.controls button:active {
  margin-right: 30px;
  margin: 1rem;
  padding: 10px;
  padding-left: 12px;
  border-radius: 35px;
  border: 0;
  background: #1B1B1B;
  -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,0.9);
          box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,0.9),
                      inset -2px -2px 2px rgba(143, 143, 143, 0.4);
}

.controls i:active {
  color: #CD2430;
  text-shadow: 2 2 5px rgba(0,0,0,0.9);
}

.controls button:focus {
  outline: none;
}

.header-row {
  text-align: center;
  align-content: center;
}
div.ui.red.progress.progress{
  display: flex;
  flex-flow: column no wrap;
  padding-bottom: -2rem;
}
div.ui.red.progress.hidden {
  display: none;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@ PROFILE PHOTO FEATURES @@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.profile-photo-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.profile-photo-gallery {
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  
}

.photo-thumb {
  height: auto;
  width: 10rem;
  margin: .5rem;
}

.photo-display {
  height: auto;
  width: 90%;
  margin: 30px;
}

.ui.small.modal.transition.visible.active.photo-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* *********************************** */
/* **** PROFILE FRIEND FEATURES ***** */
/* ********************************* */

.profile-friend-container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  padding: .5rem 2rem;
}

/* TODO COMBINE list and requests \/\/\/ */
.friend-list {
  justify-content: flex-start;
  text-align: center;
  align-items: stretch;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: .5rem 1rem;
}
.friend-requests {
  justify-content: flex-start;
  text-align: center;
  align-items: stretch;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: .5rem 1rem;
}
/* END TODO /\/\/\ */

.friend-requests h2, .friend-list h2{
  margin: 1rem;
}

.friend-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-bottom: 1rem;
}

.friend-card a {
  color: #fff;
}
.friend-card h5 {
  margin: 0;
}

.friend-card-thumb {
  height: 100%;
  width: auto;
  margin-right: .5rem;
}

.friend-request {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-bottom: 1rem;
}

.friend-request button{
  margin-top: .8rem;
  margin-left: 1rem;
  border: 0;
  border-radius: 10px;
  padding: .5rem;
  align-self: center;
}

.friend-request-thumb {
  height: 100%;
  width: auto;
  margin-right: 1rem;
}

/* **************************** */
/* *******CHAT FEATURES******* */
/* ************************** */

.chat-container {
  padding-top: 3rem;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.match-container {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 50%, rgba(0,0,0,1) 100%);
  height: 100%;
  width: 33%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.chat-box {
  margin: 0;
  padding: 0;
  width: 66%;
  display: flex;
  flex-flow: column nowrap;
}

.chat-display {
  border-bottom-width: 0;
  padding: 1.5rem;
  height: 90%;
  width: 100%;
  background-color: #48484822;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  bottom: 0px;
}

.chat-display-placeholder {
  text-align: center;
  padding: 15rem;
  height: 90%;
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

.chat-display-placeholder h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}

.chat-bar {
  display: flex;
  flex-flow: row nowrap;
  height: 10%;
  width: 100%;
}

.chat-input {
  border: 0;
  border-right-width: 1px;
  padding-left: 2rem;
  width: 80%;
  outline: none;
}

.send {
  margin: 0;
  width: 20%;
  border: 0;
  background: rgba(255, 59, 59, 0.461);
  color: #dc3f4f;
  font-weight: 700;
  outline: none;
  border-bottom-right-radius: 20px;
}

.send:hover {
  transition: 300ms all ease-in;
  margin: 0;
  width: 20%;
  border-bottom-right-radius: 10px;
  background: #112578cb;
  color: #DB2829;
  font-weight: 700;
}

.chat-bubble {
  font-weight: 550;
  font-size: 1.1rem;
  min-height: 1.5rem;
  margin-bottom: 2px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #73daff, #6ff4fe);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #73daff, #6ff4fe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.chat-bubble:last-of-type {
  min-height: 1.5rem;
  margin-bottom: -5px;
  padding: 5px;
  border-radius: 5px;
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #73daff, #6ff4fe);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #73daff, #6ff4fe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  scroll-snap-align: end;
  scroll-margin-block-end: 3rem;
  overflow-anchor: auto;
}

.match-box {
  color: white;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
  background-color: #00000043;
  margin: 1px;
}

.match-box:hover {
  transition: 300ms all ease-in;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 5rem;
  background-color: #e136369e;
  margin: 1px;
}



.match-thumb {
  margin: .5rem;
  display: block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 30%;
}

.chat-info {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.chat-name {
  margin: 0;
}

.chat-preview {
  font-size: .75rem;
}

/* ****************************** */
/* **** DISCOVERY FEATURES ***** */
/* **************************** */

.discovery-container {
  color: white;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.discovery-filters {
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 20px;
}

.discovery-filters h2{
  margin: 1rem 0;
}

.ui.items.discover-display {
  overflow-y: scroll;
  height: 95vh;
  width: 70%;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8aa0b6, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #89a0b6, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 1rem;
  margin-top: 0;
}
div.item.discover-user {
  background-color: gray;
  color: white;
}

.discover-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  width: 150px;
}
.discover-interests {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 150px;
}

.tags {
  background: gray;
  padding: 3px 5px;
  margin: 3px;
  border-radius: 10px;
}

.profile-pic-view {
  max-height: 60vh;
  margin: auto;
}

.ui.small.scrolling.modal.transition.visible.active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ############################## */
/* ########## SLIDERS ########### */
/* ############################## */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 70%;
  height: .65rem;
  cursor: pointer;
  box-shadow: inset 0px 2px 0px #000000, 0px 2px 0px #0d0d0d;
  background: #ED344B;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 1rem;
  border-radius: 7px;
  background: #93291F;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ED344B;
}
input[type=range]::-moz-range-track {
  width: 70%;
  height: .65rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ED344B;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 1rem;
  border-radius: 7px;
  background: #93291F;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 70%;
  height: .65rem;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 1rem 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ED344B;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ED344B;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 1rem;
  border-radius: 7px;
  background: #93291F;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ED344B;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ED344B;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@  RESPONSIVE DESIGN  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/*
 * Breakpoints set with help from: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

  .profile-holder {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
  }
  
  .profile-content {
    justify-self: flex-end;
    width: 100%;
  }

  .biosection {
    padding: 2rem 2rem;
    justify-self: flex-start;
    width: 100%;
    height: 63vh;
    border-right: 1px solid rgba(225, 225, 225, 0.5);
    color: white;
    text-align: center;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

  .biosection {
    padding: 2rem 2rem;
    justify-self: flex-start;
    width: 100%;
    height: 63vh;
    border-right: 1px solid rgba(225, 225, 225, 0.5);
    color: white;
    text-align: center;
  }

  .profile-holder {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
  }
  
  .profile-content {
    justify-self: flex-end;
    width: 100%;
  }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

  .biosection {
    padding: 2rem 2rem;
    justify-self: flex-start;
    width: 100%;
    height: 63vh;
    border-right: 1px solid rgba(225, 225, 225, 0.5);
    color: white;
    text-align: center;
  }

  .profile-holder {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
  }
  
  .profile-content {
    justify-self: flex-end;
    width: 100%;
  }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

  .biosection {
    padding: 2rem 2rem;
    justify-self: flex-start;
    width: 100%;
    height: 63vh;
    border-right: 1px solid rgba(225, 225, 225, 0.5);
    color: white;
    text-align: center;
  }

  .profile-holder {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
  }
  
  .profile-content {
    justify-self: flex-end;
    width: 100%;
  }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}