@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Pacifico&family=Permanent+Marker&display=swap');

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.header {
  font-family: 'Inconsolata', monospace;
}

div.ui.red.inverted.menu.navbar{
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #93291E, #ED213A); 
  border-radius: 0;
  margin: 0;
}

div.ui.red.inverted.menu.navbar a {
  font-family: 'Permanent Marker', cursive;
  padding: .75rem;
}

div.ui.red.inverted.menu.navbar a.header.item{
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 2rem;
  padding-right: 2rem;
}

body {
  background: #101012;
  /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 50%, rgba(0,0,0,1) 100%); */
  font-family: 'Inconsolata', monospace;
}

.chat-container {
  height: 80vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.match-container {
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.228);
  height: 100%;
  width: 33%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.chat-box {
  margin: 0;
  padding: 0;
  width: 66%;
  display: flex;
  flex-flow: column nowrap;
}

.chat-display {
  border-bottom-width: 0;
  padding: 1.5rem;
  height: 90%;
  width: 100%;
  background-color: #ccdeff22;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  bottom: 0px;
}

.chat-bar {
  display: flex;
  flex-flow: row nowrap;
  height: 10%;
  width: 100%;
}

.chat-input {
  border: 0;
  border-right-width: 1px;
  padding-left: 2rem;
  width: 80%;
  outline: none;
}

.send {
  margin: 0;
  width: 20%;
  border: 0;
  background: rgba(103, 157, 238, 0.461);
  color: #dc3f4f;
  font-weight: 700;
  outline: none;
}

.send:hover {
  transition: 300ms all ease-in;
  margin: 0;
  width: 20%;
  border-bottom-right-radius: 10px;
  border: 2px solid #DB2829;
  background: #112578cb;
  color: #DB2829;
  font-weight: 700;
}

.chat-bubble {
  min-height: 1.5rem;
  margin-bottom: 2px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #31bff285, #4bc1c979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #31bff285, #4bc1c979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.chat-bubble:last-of-type {
  min-height: 1.5rem;
  margin-bottom: -5px;
  padding: 5px;
  border-radius: 5px;
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #31bff285, #4bc1c979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #31bff285, #4bc1c979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  scroll-snap-align: end;
  scroll-margin-block-end: 3rem;
  overflow-anchor: auto;
}

.match-box {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
  background-color: #ff515143;
  margin: 1px;
}

.match-box:hover {
  transition: 300ms all ease-in;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 5rem;
  background-color: #e136369e;
  margin: 1px;
}



.match-thumb {
  display: block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 30%;
}

.chat-info {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.chat-name {
  margin: 0;
}

.chat-preview {
  font-size: .75rem;
}

div.ui.bottom.attached.segment.auth-modal {
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-container {
  display: flex;
  flex-flow: column nowrap;
}
.profile-banner {
  width: 100vw;
  min-height: 20vh;
  background-size: cover;
  background-color: #93291E;
}
.profile-banner img {
  position: relative;
  top: 11vh;
  left: 20%;
  max-width: 150px;
  box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.profile-holder {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
}

.profile-content {
  justify-self: flex-end;
  width: 70%;
}

.biosection {
  padding: 10px;
  justify-self: flex-start;
  width: 30%;
  height: 70vh;
  border-right: 1px solid rgba(225, 225, 225, 0.5);
}

div.ui.profile-menu.menu {
  border-radius: 0;
  background-color: #000000;
  color: #c94b4b;
  padding-left: 17%;
}

.biosection h1,h2,h3,h4 {
  color: white;
  margin-left: 4vw;
  font-family: 'Permanent Marker', cursive;
  font-weight: 300;
}

.profile-music-container {
  padding: 20px;
}
.controls {
  color: azure;
}


.controls button {
  padding: 15px;
  border-radius: 35px;
  border: 0;
  background: #93291F;
}

.playlist-item {
  color: azure;
  min-height: 30px;
}

.playlist-item.selected {
  background-color: #3f3f3f82
}



