* {
  box-sizing: border-box;
}

body, html{
  height: 100%;
  background-image: url(background.jpg);

/* Add the blur effect */
filter: blur(3px);
-webkit-filter: blur(3px);

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.bg-image {
/* The image used */
background-image: url(background.jpg);

/* Add the blur effect */
filter: blur(3px);
-webkit-filter: blur(3px);

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
/* background-color: rgba(0,0,0, 0.4); Black w/opacity/see-through */
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 60%;
padding: 20px;
text-align: center;
}